/* Base Rules */
*{
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: #666666;
}

p {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #666666;
}

.r-p {
  padding: 80px 0;
}

.bg-sec {
  background: #f8f9fa;
}

.r-btn {
  color: #fff;
  text-decoration: none;
  padding: 10px 25px;
  border: 2px solid #72bc44;
  background: #72bc44;
}

.r-btn:hover {
  color: #72bc44;
  border: 2px solid #72bc44;
  background: none;
}

/* Navigation */
nav.r-nav {
  background: transparent;
  padding: 20px 0;
  transition: .5s all;
}

nav .navbar-brand {
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #fff;
}

nav .navbar-nav li a {
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-family: Nunito, sans-serif ;
}

nav .navbar-nav li {
  margin-left: 15px;
}

#menu .current a {
  color: #72bc44 !important;
}



/* Sticky Menu */
nav.r-nav.stickyadd {
  background: #fff !important;
  padding: 15px 0;
  box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
  transition: 0.5s all ease-in-out;
}

nav.stickyadd .navbar-brand {
  color: #72bc44;
  font-size: 30px;
  transition: .5s all;
}

nav.stickyadd .navbar-nav .nav-link {
  color: #666666 !important;
}

/*  HAMBURGER MENU */

nav .hamburger {
  color: #fff;
}

nav.stickyadd .hamburger {
  color: #000;
}

@media only screen and (max-width: 991px) {
.navbar-collapse {
  background-color: rgba(0, 0, 0, 0.8);
}
}

/* Header Section */

.header-content {
  
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-box {
  max-width: 700px;
  color: #fff;
}

.content-box h4 {
  color: #fff;
  font-size: 30px;
}

.content-box h1 {
  color: #fff;
  font-size: 52px;
}

.content-box a {
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  padding: 8px 25px;
}

.content-box a:hover {
  color: #72bc44;
  background: #fff;
  transition: .5s all;
}

.content-box p {
  color: #fff;
}

#home .content-box span {
  color: #72bc44;
}

/* Header video */
header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {

  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}


/* About Section */

#about .col-lg-6.mt-2.mt-lg-0 ul {
  display: inline-block;
  font-size: 30px;
  transition: .5s all;
}

.about ul li a {
  color: #72bc44;
}

#about .social-icons .list-inline-item {
  font-size: 25px;
}

/* Experience section - progress bar */

.exp-class .progress {
  height: 10px;
  border-radius: 20px;
  font-size: 10px;
}

.progress-bar {
  background-color: #72bc44 !important;
}

.exp-class label {
  font-size: 20px;
  margin: 10px;
}



/* Services Section */

.card, .card-header {
  background: #fff !important;
  margin-top:20px;
  border: none;
}

.card {
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.13);
  -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.13);
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.13);
}

.card:hover {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(114,188,68,1);
-moz-box-shadow: 0px 0px 20px 0px rgba(114,188,68,1);
box-shadow: 0px 0px 20px 0px rgba(114,188,68,1);
}

#services-id .services-list {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.card-header {
  border: none !important;
}

.services .card-header i {
  font-size: 50px;
}

.service-border {
  height: 2px;
  width: 40px;
  margin: 15px auto;
  background: #72bc44;
  transition: 0.5s all;
}

.services-class .card .card-header i {
  margin-top: 10px;
  font-size: 25px;
  color: #72bc44;
}

#services-id .services-list .card-header i {
  font-size: 40px;

}

/* Work with us section */

section#hire-Id {
  background-image: url("https://images.unsplash.com/photo-1591947158725-710bc99b64d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1300&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

section#hire-Id .row .r-btn {
  background: #343a40;
}

section#hire-Id .row .r-btn:hover {
  background: #fff;
}


/* Testimonial */
.testimony-class .test-item {
  max-width: 500px;
  margin: 50px auto;
}

.testimony-class .test-item .test-img{
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.test-item p.test-name{
  font-size: 11px;
}

.testimony-class .test-item i {
  color: #72bc44;
}

/* Work with us */
.work .card-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}

#portfolio .btn {
  margin: 3px;
}

/* Contact Us Section */
.contact .r-icon {
  color: #72bc44;
  font-size: 35px;
  
}

/* Footer Section */

footer {
    height: 100px;
    background: #343a40;
}

footer .r-icon a {
  color: #fff !important;
}

footer .r-icon a:hover {
  color: #72bc44 !important;
}


